// Fonts
$font-stack: 'Karla', sans-serif;
$font-stack2: 'Montserrat', sans-serif;

// Text-color
$text-primary: #272933;
$text-secondary: #616576;

// Header
$header-bg: #F8F8F7;

// Illustration
$illustration-bg: #EA693F;
$illustration-text: #E9E9E1;

// About
$about-bg: #79857D;
$about-text: #E9E9E1;

// Resume
$resume-bg: #EDEDED;
$resume-text: #272933;
$resume-info-text: #616576;
$tech-border-colour: lightblue;

// Body
$body-background: #EDEDED;
$body-text: #333333;

// footer
$footer-text: white;
$footer-background: #b9b9b9;
$footer-links: white; //#616576;
$footer-links-hover: #616576;
