// Fonts
$font-stack: 'Karla', sans-serif;
$font-stack2: 'Montserrat', sans-serif;

// Text-color
$text-primary: #272933;
$text-secondary: #616576;

// Resume
$tech-border-colour: lightblue;

// Body
$body-background: #EDEDED;
$body-text: #333333;

// footer
$footer-text: white;
$footer-background: #b9b9b9;
$footer-links: white; //#616576;
$footer-links-hover: #616576;
