@import 'mixins';
@import 'variables';

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;

}

body {
  margin: 0;
  @include font-size(14);
  font-family: $font-stack2;
  @include line-height(20);
  color: $text-secondary;
  background-color: $body-background;
  -webkit-font-smoothing: antialiased;
}

// Headers
h1 {
  @include font-size(20);
  text-transform: lowercase;
  color: $text-primary;
}

h2 {
  @include font-size(16);
  color: $text-primary;
}

h1:after{
    content: ' ';
    padding: 0px;
    padding-bottom: 10px;
    display: block;
    border-bottom: thin solid $text-primary;
  }

// Links
a, a:hover, a:visited, a:active {
  color: #333;
  text-decoration: none;
}

a img {
  border: none;
}

.right {
  float: right;
}

.container {
  width: 100%;
}

.sidebar {
  padding-top: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: right;

  ul {
    list-style: none;

    // .active {
    //   padding-right:10px;
    // }
  }
}

.main {
  padding-top: 30px;
}

.resume {
  .resume-section {
    padding-bottom: 50px;

    .section-content {
      padding-top: 30px;
      padding-bottom: 30px;
      @include line-height(27);
      @include font-size(14);
      color: $text-secondary;
      white-space: nowrap;

      .aux-info {
        @include font-size(12);
      }

      .info {
        padding-top: 15px;
        white-space: normal;
        @include font-size(12);

        ul {
          list-style: circle;
        }

        .slick-carousel {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 40px;

          img {
            margin: auto;
            height: 300px;
            border: 10px;
          }

          .slick-arrow::before {
            color: $text-secondary;
          }
        }

        .tech-list {
          padding-top: 10px;
          padding-left: 0px;

          li {
            @include font-size(9);
            display: inline;
            padding: 8px;
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 15px;
            @include border-radius(20px);
            border: thin solid $tech-border-colour;
            text-transform: uppercase;
          }
        }
      }

      .logo {
        @include border-radius(34px);
        max-width: 67px;
        max-height: 67px;
        width: auto;
        height: auto;
        background: white;
      }

      .no-logo {
        display: block;
        @include border-radius(34px);
        width: 67px;
        height: 67px;
        background: white;
      }

      .item-title {
        @include font-size(16);
        color: $text-primary;
      }
    }
  }
}
