// If you're reading this for some reason - I don't profess to have
// amazing CSS skills, so you might want to avoid taking inspiration
// from this...

@import "mixins";
@import "variables";

$screen-sm-min: 576px;
$screen-xs-max: ($screen-sm-min - 1);

// TODO: This is messy af
@media (max-width: $screen-xs-max) {
  html {
    font-size: 38%;
  }
}

@media (min-width: $screen-sm-min) {
  html {
    font-size: 62.5%;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  @include font-size(14);
  font-family: $font-stack;
  @include line-height(20);
  color: $text-secondary;
  background-color: $body-background;
  -webkit-font-smoothing: antialiased;
}

// Headers
h1 {
  margin-bottom: 15px;
  @include font-size(20);
  text-transform: lowercase;
  color: $text-primary;
}

h2 {
  @include font-size(16);
  color: $text-primary;
}

p {
  @include font-size(12);
  color: $text-secondary;
}

h1:after {
  content: " ";
  padding: 0px;
  padding-bottom: 10px;
  display: block;
  border-bottom: thin solid $text-primary;
}

// Links
a,
a:visited,
a:active {
  color: $text-primary;
  text-decoration: none;
}

a:hover {
  color: $text-primary;
  text-decoration: underline;
}

a img {
  border: none;
}

// Images
.content {
  img {
    @include center-block;
    width: 80%;
    margin-bottom: 20px;
  }
}

.right {
  float: right;
}

.container {
  width: 100%;
}

.sidebar {
  padding-top: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: right;

  .headshot {
    text-align: center;
    padding-bottom: 10px;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .subtitle {
    padding-bottom: 10px;
  }

  .menu {
    padding-bottom: 10px;

    ul {
      list-style: none;

      li {
        text-transform: lowercase;

        a,
        a:hover,
        a:visited,
        a:active {
          text-decoration: none;
        }

        a,
        a:visited {
          color: $text-secondary;
        }

        a:hover,
        a:active {
          color: $text-primary;
        }
      }

      .active > a {
        color: $text-primary;
      }
    }
  }

  .socials {
    @include font-size(10);

    li {
      display: inline;
    }

    li:not(:last-child):after {
      content: " // ";
      color: $text-secondary;
    }
  }
}

.main {
  padding-top: 30px;
}

.creative {
  .item {
    padding-bottom: 10px;
    @include font-size(12);
    color: $text-secondary;
    white-space: nowrap;

    .item-title {
      color: $text-primary;
    }

    .aux-info {
      direction: rtl;

      .show-name {
        font-style: italic;
        display: inline;
      }
    }
  }
}

.resume {
  .item {
    padding-bottom: 30px;
    color: $text-secondary;
    white-space: nowrap;

    .logo {
      @include border-radius(34px);
      max-width: 67px;
      max-height: 67px;
      width: auto;
      height: auto;
      background: white;
    }

    .no-logo {
      display: block;
      @include border-radius(34px);
      width: 67px;
      height: 67px;
      background: white;
    }

    .aux-info {
      @include line-height(27);
    }

    .titles {
      @include line-height(27);

      .item-title {
        @include font-size(16);
        color: $text-primary;
      }

      a {
        color: $text-secondary;
        text-decoration: underline;
      }
    }
  }
}

.resume,
.creative {
  .section {
    padding-bottom: 50px;

    .info {
      white-space: normal;

      ul {
        @include font-size(12);
        list-style: circle;
      }

      .slick-carousel {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;

        img {
          margin: auto;
          height: 300px;
          border: 10px;
        }

        .slick-arrow::before {
          color: $text-secondary;
        }
      }

      .tech-list {
        padding-top: 10px;
        padding-left: 0px;
        @include line-height(30);

        li {
          @include font-size(9);
          display: inline;
          padding: 8px;
          padding-right: 10px;
          padding-left: 10px;
          margin-right: 15px;
          @include border-radius(20px);
          border: thin solid $tech-border-colour;
          text-transform: uppercase;
        }
      }
    }
  }
}

// Contact form
.contact-form {
  text-transform: lowercase;

  .form-group {
    min-height: 90px;

    p {
      margin: 0;
    }
  }

  input,
  textarea,
  button {
    @include line-height(20);
    @include font-size(14);
  }

  button {
    text-transform: lowercase;
    margin-top: 20px;
  }
}
