<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}

<body>
    <div class="container">
        <div class="row">
            {{- partial "header.html" . -}}
        </div>
        <div class="row">
            <div class="col-lg-3">
                {{- partial "sidebar.html" . -}}
            </div>
            <div class="col-lg-9">
                <div class="main">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>

</html>
