<div class="row sidebar">
    <div class="col-12">
    <a href="{{ .Site.BaseURL }}"><h1>David Barrell</h1></a>

    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{/*  {{ if $currentPage.IsMenuCurrent "main" . }}
        <li class='active'>
            <a href="#">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ else }}  */}}
        <li>
            <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{/*  {{ end }}  */}}
        {{ end }}
    </ul>
</div>
</div>
